.temp {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .row {
    width: 50vw;
    @media screen and (max-width: 600px) {
      width: 100vw;
    }
  }

  .header {
    font-size: calc(1vw + 1vh + 1vmin);
    margin: 0 0 5vh 0;
    text-align: center;
    display: flex;

    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }

  .mat-list {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .mat-list-item {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 10vw;
    }

    .mat-list-avatar {
      height: 80px;
      width: 80px;

      @media screen and (max-width: 600px) {
        height: 40px;
        width: 40px;
        padding: 0;
      }
    }
  }
}
