<div class="temp">
  <div class="container mat-elevation-z19">
    <h1 class="header">Üdvözöljük az Ortopéd Sebészeti Osztály honlapján!</h1>
    <div class="row">
      <mat-list style="margin: 15px 0 15px 0">
        <mat-list-item>
          <img matListAvatar src="/assets/images/sanya.webp" alt="dr-szlovak" />
        </mat-list-item>
        <mat-list-item>
          <img
            matListAvatar
            src="/assets/images/Dr-Bölcsházy-Zoltán.webp"
            alt="dr-bolcshazy"
          />
        </mat-list-item>
        <mat-list-item>
          <img matListAvatar src="/assets/images/kollar.webp" alt="dr-kollar" />
        </mat-list-item>
        <mat-list-item>
          <img
            matListAvatar
            src="/assets/images/tompai_ferenc_edited_edited.webp"
            alt="dr-tompai"
          />
        </mat-list-item>

        <mat-list-item>
          <img
            matListAvatar
            src="/assets/images/IMG_4685_edited.webp"
            alt="dr-vas"
          />
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
