.mat-drawer-container {
}

.sidenav {
  width: 200px;
  //background-color: #f2f2f2;
  margin-top: 82px;

  .mat-list-item {
    color: rgba(0, 0, 0, 0.65);
  }
}

.mat-list-base {
  overflow: hidden;
}

.sidenav .mat-toolbar {
}

.mat-toolbar.mat-primary {
  height: 82px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav-header {
  display: flex;
  flex-direction: column;
  //padding: 0 0 0 20px;

  .mat-h2,
  .mat-h3 {
    margin: 0;
  }
}
