<app-page-header [text]="doctors"></app-page-header>
<div class="container">
  <div class="content">
    <div class="header-row-container">
      <img
        src="assets/images/sanya.webp"
        alt="dr-szlovak"
        class="mat-elevation-z3"
      />

      <div class="header-row">
        <h1 class="mat-h1">Dr. Szlovák Sándor</h1>
        <h2 class="mat-h2">Osztályvezető főorvos</h2>
        <h3 class="mat-h3">Traumatológus, ortopéd, kézsebész szakorvos</h3>
        <h3 class="mat-h3">
          Európai Kézsebész Szakvizsga (FESSH European Board of Hand Surgery
          Diploma)
        </h3>

        <div>
          <mat-icon>mail</mat-icon>&nbsp;<a
            href="mailto:s.szlovak@rehabint.hu"
            class="mat-h3"
            >s.szlovak@rehabint.hu</a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <p>
        <mat-divider></mat-divider>

        1994-ben végeztem a Debreceni Orvostudományi Egyetemen summa cum laude,
        majd a traumatológia, ortopédia, ezen belül pedig a kézsebészet felé
        orientálódtam. Fő érdeklődési területem a felső végtagi sérülések
        következtében kialakult károsodások, valamint bénulásos-spasticus
        állapotok sebészi kezelése. Szabadidőmben szeretek fallabdázni és
        kerékpártúrákra menni. ​
      </p>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Tanulmányok</h2>

        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          FESSH Academy 2020, Budapest
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Master Class: Surgical Skills in Upper Limb Spasticity Surgery, 2019,
          Budapest
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Symposium Surgery of the Spastic Upper Limb, Paris
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2016 AO Trauma Masters Course, Minimally Invasive Osteosynthesis,
          Budapest
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2015 október-november FESSH ösztöndíj, Insitut de la Main, Párizs,
          Franciaország
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2015 Hand Reconstruction in Trauma and Rheumatoid Arthritis, Eastern
          European Course on Hand Surgery by FESSH, IFSSH, ERASS
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2014 Ortopédiai szakvizsga
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2014 Eastern European Course on Hand Surgery by FESSH 2015 7th
          Instructional Course on Reconstructive Tetraplegia Hand Surgery
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2013 Európai Kézsebész Szakvizsga (European Board of Hand Surgery
          Diploma
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2012 Highlights in Hand Surgery, Masters at Work, Eastern European
          Course on Hand Surgery by FESSH
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2011 Advanced Trauma Life Support (ATLS) Diploma
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2003 Kézsebészeti szakvizsga
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          1999 Traumatológiai szakvizsga
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          1994 Debreceni Orvostudományi Egyetem, summa cum laude
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Munkahelyek</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2019- Magyar Kézsebészeti Központ
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2018- Emineo Magánkórház
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2014- Országos Orvosi Rehabilitációs Intézet, Ortopéd Sebészeti
          Osztály, osztályvezető főorvos, kézsebész és traumatológus konzulens
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          1994-2014 Dél-Pesti Trauma Centrumban segédorvos, szakorvos,
          adjunktus, majd főorvos
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2010-2011 Greater Manchester NHS CATS, Orthopaedic Consultant
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Társasági tagságok</h2>

        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Magyar Kézsebész Társaság
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Nyelvismeret</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Angol
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="content">
    <div class="header-row-container">
      <img
        src="assets/images/Dr-Bölcsházy-Zoltán.webp"
        alt="dr-bolcshazy"
        class="mat-elevation-z3"
      />

      <div class="header-row">
        <h1 class="mat-h1">Dr. Bölcsházy Zoltán</h1>
        <h2 class="mat-h2">Ortopéd és rehabilitációs szakorvos</h2>
        <div>
          <mat-icon>mail</mat-icon>&nbsp;<a
            href="mailto:z.bolcshazy@rehabint.hu"
            class="mat-h3"
            >z.bolcshazy@rehabint.hu</a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <p>
        <mat-divider></mat-divider>

        1971-ben születtem, Tapolcán, a gyönyörű Balaton-felvidéken. Az
        érettségi után az egyetemi tanulmányaim miatt költöztem fel Budapestre,
        ahol 1995-ben végeztem a Semmelweis Egyetem Általános Orvosi Karán.
        Friss diplomásként kezdtem el dolgozni Országos Orvosi Rehabilitációs
        Intézetben, amely azóta is a munkahelyem. Az Amputációs Sebészeti
        Osztályról indulva 2000-ben szereztem meg ortopéd szakvizsgámat, majd az
        intézet különböző profilú osztályain végzett gyakorlatok után a
        mozgásszervi rehabilitációs szakvizsga letételét követően 2003-tól
        lettem állandó tagja az intézetünk Ortopédiai Osztályának.
      </p>

      <p>
        1971-ben születtem, Tapolcán, a gyönyörű Balaton-felvidéken. Az
        érettségi után az egyetemi tanulmányaim miatt költöztem fel Budapestre,
        ahol 1995-ben végeztem a Semmelweis Egyetem Általános Orvosi Karán.
        Friss diplomásként kezdtem el dolgozni Országos Orvosi Rehabilitációs
        Intézetben, amely azóta is a munkahelyem. Az Amputációs Sebészeti
        Osztályról indulva 2000-ben szereztem meg ortopéd szakvizsgámat, majd az
        intézet különböző profilú osztályain végzett gyakorlatok után a
        mozgásszervi rehabilitációs szakvizsga letételét követően 2003-tól
        lettem állandó tagja az intézetünk Ortopédiai Osztályának.
      </p>
      <p>
        Fő területem a térdízület, a térdkalács panaszok és gyűrűporc (meniscus)
        sérülések ellátása, mindamellett a csípő-, és térdprotetika, mindkettő
        cementnélküli vagy cementes rögzítéssel, csípőprotézis esetén
        methapysealis un.”rövid” szárral is végezve.
      </p>
      <p>
        A kórházban zajló járóbeteg ellátás mellett. 2008-tól 10 éven át
        végeztem tanácsadói munkát egy multinacionális, a „fejlett világban” is
        használt és elismert protézis gyártó cégnél, amely során főképp
        térdprotézis cseréknél illetve a cég újonnan országunkba hozott,
        korszerű termékeinek használatánál adtam segítséget a kollégáknak. Ezen
        cégnek köszönhetően rendszeresen vettem részt nemzetközi kongresszusokon
        és „határon túli” ortopéd sebészeti továbbképzéseken, hogy mindezen
        tudásomat itthon, hazámban állítsam a betegeink szolgálatába.
      </p>
    </div>
  </div>

  <div class="content">
    <div class="header-row-container">
      <img
        src="assets/images/kollar.webp"
        alt="dr-kollar"
        class="mat-elevation-z3"
      />

      <div class="header-row">
        <h1 class="mat-h1">Dr. Kollár Iván</h1>
        <h2 class="mat-h2">Ortopéd és traumatológus szakorvos</h2>
        <div>
          <mat-icon>mail</mat-icon>&nbsp;<a
            href="mailto:i.kollar@rehabint.hu"
            class="mat-h3"
            >i.kollar@rehabint.hu</a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <p>
        <mat-divider></mat-divider>

        2013-ban végeztem a Semmelweis Egyetem Általános Orvostudományi Karán. A
        szombathelyi Markusovszky Kórház Traumatológiai Osztályán kezdtem
        ortopéd-traumatológus sebészi pályámat, melyet 2015-től Budapesten, a
        Manninger Jenő Országos Traumatológiai Intézetben folytattam.
        Magyarország legnagyobb baleseti sebészeti intézményének munkatársaként
        széles tapasztalat megszerzésére nyílt lehetőségem. Az Országos Orvosi
        Rehabilitációs Intézet Ortopéd Sebészeti Osztályán 2020 óta dolgozom,
        mint ortopéd - baleseti sebész szakorvos. Szakmai pályafutásom során
        több első osztályú labdarúgóklub csapatorvosi tisztjét töltöttem be.
        Jelenleg az Újpest FC, valamint a Magyar Labdarúgó Szövetség U21-es
        válogatottjának csapatorvosa vagyok.
      </p>

      <p>
        Általános ortopédiai-, nagyízületi (csípő-, térd-) protézis beültetések,
        arthroscopos térd-, vállműtétek mellett kiemelten kézsebészeti kórképek
        műtéti beavatkozásaival foglalkozom. Sportsérülések kezelése terén is
        folyamatosan bővítem szakmai tudásomat, rendszeresen részt veszek a
        világ vezető intézményei által szervezett képzéseken.
      </p>
      <p>
        Igyekszem egy-egy kórkép, sérülés tekintetében a lehető legkorszerűbb,
        leghatékonyabb, a legnagyobb biztonságot nyújtó ellátási lehetőségeket
        alkalmazni. Orvosi hitvallásomnak megfelelően folyamatosan arra
        törekszem, hogy betegeim számára a lehető legjobb körülmények között, a
        legmagasabb színvonalú ellátást biztosítsam.
      </p>
    </div>
  </div>

  <div class="content">
    <div class="header-row-container">
      <img
        src="assets/images/tompai_ferenc_edited_edited.webp"
        alt="dr-tompai"
        class="mat-elevation-z3"
      />

      <div class="header-row">
        <h1 class="mat-h1">Dr. Tompai Ferenc</h1>
        <h2 class="mat-h2">Ortopéd és traumatológus szakorvos</h2>
        <div>
          <mat-icon>mail</mat-icon>&nbsp;
          <a href="mailto:f.tompai@rehabint.hu" class="mat-h3"
            >f.tompai@rehabint.hu</a
          >
        </div>
      </div>
    </div>

    <div class="row">
      <p>
        <mat-divider></mat-divider>

        2013-tól közel 7 éven keresztül dolgoztam az Országos Traumatológiai
        Intézetben, emellett részt vettem a Semmelweis Egyetem Traumatológiai
        tanszékén magyar és angol medikusok oktatásában. 2020-tól az Országos
        Orvosi Rehabilitációs Intézet Ortopéd Sebészeti osztályán dolgozom
        ortopéd és baleseti sebész szakorvosként. Nagyízületi (csípő, térd,
        váll) protézis beültetéseket, térd és váll arthroscopos (ízületi
        tükrözés) beavatkozásokat végzek. Ezek mellett foglalkozom általános
        ortopédiai megbetegedések konzervativ és operatív (műtéti) kezelésével
        is (kéz, könyök, boka, láb, stb.). Szűkebb szakmai érdeklődési
        területeim a különböző mozgásszervi megbetegedéseken kívül a speciális
        térd- és a vállízület megbetegedéseinek illetve sérüléseinek ellátása.
        Utóbbit Magyarország egyik legnevesebb vállsebésze mellett tanulhattam.
      </p>

      <h2 matLine class="list-header mat-elevation-z3">Szakmai háttér</h2>

      <p style="margin-top: 12px">
        Orvosi tanulmányait a Szegedi Tudományegyetem Általános Orvosi Karán
        végezte. Egyetemi tanulmányai során 5 hónapot a németországi Göttingeni
        Orvosi Egyetemen ösztöndíjasként végzett el. Több arthroscopos
        műtéttechnikai és ultrahang diagnosztikai továbbképzésen is részt vett.
      </p>
      <p>
        Ortopédiából és traumatológiából szakvizsgázott kiválóan megfelelt
        eredménnyel.
      </p>
      <p>
        Az Újpest Futball Club csapatorvosa és a Magyar Labdarúgó Szövetség
        utánpótlás válogatott keretorvosa.
      </p>
      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Továbbképzések</h2>

        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Arthroscopos készségfejlesztő alapkurzus: térd és vállízület, Szeged,
          2014.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Advanced Trauma Life Support (ATLS), Szeged, 2015.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          MLSZ Csapatorvos license-szerző tanfolyam, Telki, 2015.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Mozgásszervi Ultrahang Diagnosztikai tanfolyam I. (SONARMED-Son-Art
          Provisio), Budapest, 2016.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Mozgásszervi Ultrahang Diagnosztikai tanfolyam II. (Sonarmed-Son-Art
          Provisio), Budapest, 2017.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Haladó vállartroszkópos cadaver kurzus (SE-Ortopédiai Klinika,
          Arthrex), Budapest, 2017.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Gyermekortpédia tanfolyam (Pécsi Tudományegyetem, Klinikai Központ),
          Pécs, 2018.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Fizioterápia tanfolyam (Szegedi Tudámányegyetem, Ortopédiai Klinika),
          Szeged, 2018.
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Felnőtt ortopédia tanfolyam (Szegedi Tudományegyetem, Ortopédiai
          Klinika), Szeged, 2018.
        </mat-list-item>
      </mat-list>
      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Munkahelyek</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2013-2020 Péterfy Kórház-Redelőintézet és Manninger Jenő Országos
          Traumatológiai Intézet, Ortopéd és baleseti sebész
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2020- Országos Orvosi Rehabilitációs Intézet – Ortopéd Sebészeti
          Osztály, Ortopéd és baleseti sebész
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2020- Budakeszi Egészségközpont, Ortopédiai szakrendelés
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2018- LifeLike Egészségügyi és Mozgásdiagnosztikai Központ, Ortopédiai
          és traumatológiai magánrendelés
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2015-2016., 2019- Újpest Football Club – Felnőtt NB1, Csapatorvos
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2018- Magyar labdarúgó Szövetség – Utánpótlás válogatott, Csapatorvos
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="content">
    <div class="header-row-container">
      <img
        src="assets/images/IMG_4685_edited.webp"
        alt="dr-vas"
        class="mat-elevation-z3"
      />

      <div class="header-row">
        <h1 class="mat-h1">Dr. Vas Roland</h1>
        <h2 class="mat-h2">
          Ortopéd-traumatológus és rehabilitációs szakorvos
        </h2>
        <div>
          <mat-icon>mail</mat-icon>&nbsp;<a
            href="mailto:r.vas@rehabint.hu"
            class="mat-h3"
            >r.vas@rehabint.hu</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Tanulmányok</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2000-ben végeztem a Semmelweis Egyetem Általános Orvostudományi karán
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2008-ban Ortopéd-Traumatológiai szakvizsga
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2014-ben Mozgásszervi Rehabilitációs szakvizsga
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Munkahelyek</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2000-2002 Semmelweis Egyetem
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2002-2006 Uzsoki utcai Kórház Ortopéd Traumatológiai Osztály
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          2006-tól Országos Orvosi Rehabilitációs Intézet Ortopédiai Osztály
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">
          Fő tevékenységi kör
        </h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Alsó végtag: Nagyízületi protetika, Arthroscopia, bénulásos és
          spasticus állapotok sebészi kezelése, láb sebészete
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Felső végtag: kisebb kézsebészeti beavatkozások
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Mozgásszervi Rehabilitációs kezelések
        </mat-list-item>
      </mat-list>

      <mat-list>
        <h2 matLine class="list-header mat-elevation-z3">Nyelvismeret</h2>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Angol
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
          Francia
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div style="width: 100%">
    <app-page-header [text]="staff"></app-page-header>
  </div>

  <div class="row">
    <mat-list>
      <h2 matLine class="list-header mat-elevation-z3">
        Osztályos adminisztrátor
      </h2>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Török Zsuzsanna&nbsp;
        <div>
          <mat-icon inline>mail</mat-icon>&nbsp;
          <a href="mailto:zs.torok@rehabint.hu">zs.torok@rehabint.hu</a>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <h2 matLine class="list-header mat-elevation-z3">Terapeuták</h2>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Stefanik Györgyi gyógytornász
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Dobszay Ambrusné gyógytornász
      </mat-list-item>
    </mat-list>
    <mat-list>
      <h2 matLine class="list-header mat-elevation-z3">Dietetikus</h2>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Balásy Orsolya
      </mat-list-item>
    </mat-list>
    <mat-list>
      <h2 matLine class="list-header mat-elevation-z3">Ápolók</h2>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Dr. Magyarné Demeter Gabriella diplomás ápoló - Főnővér
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Benedek Erzsébet OKJ ápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Darvai Péter felnőtt szakápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Lakatos Gézáné gyakorló ápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Lisztes Mónika OKJ ápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Mohácsi Krisztina OKJ Ápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Pekk Józsefné OKJ Ápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Szakácsné Fülpesi Jolán felnőtt szakápoló
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>keyboard_arrow_right</mat-icon>
        Vancsai József felnőtt szakápoló
      </mat-list-item>
    </mat-list>
  </div>
</div>
