.container {
  height: 100%;
  display: flex;
  justify-content: center;

  .row {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: justify;
  }

  .mat-divider {
    margin: 0 0 16px 0;
  }

  img {
    margin: auto;
    width: 75%;
  }
}
