.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin: 8.13vh 0 0 0;
  padding: 20px 70px 0;

  .row {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: justify;
  }

  .mat-divider {
    margin: 0 0 16px 0;
  }

  img {
    margin: auto;
    width: 55.5%;
  }
}
