.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .row {
    text-align: justify;
    width: 65%;

    .mat-divider {
      margin: 0 0 16px 0;
    }
  }
}
