.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;

  .row {
    .mat-h1 {
      text-align: left;
    }

    p {
      text-align: justify;
    }

    img {
      width: 100%;
    }

    width: 65vw;
    height: 65vh;

    .mat-divider {
      margin: 0 0 16px 0;
    }
  }
}
