<div class="container">
  <div class="row">
    <h1>AZ OSZTÁLY TEVÉKENYSÉGEI</h1>
    <mat-divider></mat-divider>

    <p>
      Az osztály II. progresszivitási szintű, fekvőbeteg ellátást nyújt
      országosan ortopédiai tevékenységekre, kiválóan felszerelt
      műtőhelységekben, minőségi eszközparkkal.
    </p>
    <p>
      Az osztály orvosai valamennyi nagy ízületi (térd, csípő, váll) primer és
      revíziós protézis beültetését és ortopédiai helyreállító és korrekciós
      műtéteket végeznek.
    </p>

    <p>
      Kézsebészet keretében ellátja a felső végtag sérüléses eredetű
      károsodásait és különböző ortopédiai betegségeit, illetve mikrosebészeti
      technikát igénylő beavatkozásokat is végez.
    </p>

    <p>
      Különféle ortopédiai, sportsebészeti kórképeket kezelünk nyitott és
      fedett, ún. arthroscopos formában, utóbbit főleg térd- és vállízület
      esetén.
    </p>

    <p>
      Vállsebészet keretein belül fentebb említett protetizáláson kívül,
      stabilizációs és ízületi helyreállító műtéteket is végzünk. Az osztály
      foglalkozik spasticus, bénulásos állapotok sebészi kezelésével, valamint
      központi idegrendszeri, gerincvelősérült betegek olyan korrekciós műtéteit
      végzi, amelyek hatékonyan hozzájárulnak a sérültek sikeres
      rehabilitációjához.
    </p>

    <p>
      Az általános és speciális tevékenységek kiegészülnek egyéb terápiás
      lehetőségekkel is, úgy mint hidro- és ergoterápia, Ortopédtechnikai Műhely
      szolgáltatásai.
    </p>

    <p>
      Az osztály rehabilitációs szakképesítéssel rendelkező orvosai a
      mozgássérültek optimális segédeszköz ellátásának elbírálását végzik.
    </p>
    <p>
      Dolgozóink aktív szerepet vállalnak az orvosok, gyógytornászok és az
      ápolók elméleti és gyakorlati képzésében is.
    </p>
  </div>
</div>
