.container {
  display: flex;
  align-items: center;
  margin-top: auto;
  justify-content: center;
  height: 100vh;

  .row {
    p {
      text-align: justify;
    }

    width: 65%;
    height: 65vh;

    .mat-divider {
      margin: 0 0 16px 0;
    }
  }
}
