.main {
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px 0;
    //margin: 8.13vh 0 0 0;
    .row {
      display: flex;
      flex-direction: column;
      width: 75%;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }

    .list-header {
      background-color: #673ab7;
      padding: 12px;
      color: white;
    }

    .mat-list-item {
      padding: 5px 0 5px 0;
      span {
      }
    }

    .mat-divider {
      margin: 0 0 8px 0;
    }
  }
}
