KAPCSOLAT ​ ​ Helye: Országos Orvosi Rehabilitációs Intézet - Főépület földszint
1121 Budapest, Szanatórium utca 19. Ágyszám: 20 Osztályvezető főorvos: Dr.
Szlovák Sándor E-mail: s.szlovak@rehabint.hu Tel: +36705088550 Osztályos vezető
ápoló: Dr. Magyarné Demeter Gabriella E-mail: g.magyarne@rehabint.hu Telefon:
Osztályvezető főorvos: (+36 1) 391-1900/1313 mellék Osztályiroda: (+36 1)
391-1930 E-mail: zs.torok@rehabint.hu Nővérpult: (+36 1) 391-1929 KAPCSOLAT ​ ​
Helye: Országos Orvosi Rehabilitációs Intézet - Főépület földszint 1121
Budapest, Szanatórium utca 19. Ágyszám: 20 Osztályvezető főorvos: Dr. Szlovák
Sándor E-mail: s.szlovak@rehabint.hu Tel: +36705088550 Osztályos vezető ápoló:
Dr. Magyarné Demeter Gabriella E-mail: g.magyarne@rehabint.hu Telefon:
Osztályvezető főorvos: (+36 1) 391-1900/1313 mellék Osztályiroda: (+36 1)
391-1930 E-mail: zs.torok@rehabint.hu Nővérpult: (+36 1) 391-1929 KAPCSOLAT ​ ​
Helye: Országos Orvosi Rehabilitációs Intézet - Főépület földszint 1121
Budapest, Szanatórium utca 19. Ágyszám: 20 Osztályvezető főorvos: Dr. Szlovák
Sándor E-mail: s.szlovak@rehabint.hu Tel: +36705088550 Osztályos vezető ápoló:
Dr. Magyarné Demeter Gabriella E-mail: g.magyarne@rehabint.hu Telefon:
Osztályvezető főorvos: (+36 1) 391-1900/1313 mellék Osztályiroda: (+36 1)
391-1930 E-mail: zs.torok@rehabint.hu Nővérpult: (+36 1) 391-1929 KAPCSOLAT ​ ​
Helye: Országos Orvosi Rehabilitációs Intézet - Főépület földszint 1121
Budapest, Szanatórium utca 19. Ágyszám: 20 Osztályvezető főorvos: Dr. Szlovák
Sándor E-mail: s.szlovak@rehabint.hu Tel: +36705088550 Osztályos vezető ápoló:
Dr. Magyarné Demeter Gabriella E-mail: g.magyarne@rehabint.hu Telefon:
Osztályvezető főorvos: (+36 1) 391-1900/1313 mellék Osztályiroda: (+36 1)
391-1930 E-mail: zs.torok@rehabint.hu Nővérpult: (+36 1) 391-1929 KAPCSOLAT ​ ​
Helye: Országos Orvosi Rehabilitációs Intézet - Főépület földszint 1121
Budapest, Szanatórium utca 19. Ágyszám: 20 Osztályvezető főorvos: Dr. Szlovák
Sándor E-mail: s.szlovak@rehabint.hu Tel: +36705088550 Osztályos vezető ápoló:
Dr. Magyarné Demeter Gabriella E-mail: g.magyarne@rehabint.hu Telefon:
Osztályvezető főorvos: (+36 1) 391-1900/1313 mellék Osztályiroda: (+36 1)
391-1930 E-mail: zs.torok@rehabint.hu Nővérpult: (+36 1) 391-1929
