<app-page-header [text]="text"></app-page-header>
<div class="container">
  <div class="content">
    <h1 class="mat-h1" style="margin-top: 0">Helye</h1>
    <mat-divider></mat-divider>

    <h3 class="mat-h3">
      Országos Orvosi Rehabilitációs Intézet - Főépület földszint
    </h3>
    <h3 class="mat-h3">1121 Budapest, Szanatórium utca 19.</h3>

    <h1 class="mat-h1">Osztályvezető főorvos</h1>
    <mat-divider></mat-divider>

    <h2 class="mat-h2">Dr. Szlovák Sándor</h2>
    <h3 class="mat-h3">
      <mat-icon inline>mail</mat-icon>
      <a href="mailto:s.szlovak@rehabint.hu">s.szlovak@rehabint.hu</a>
    </h3>
    <h3 class="mat-h3"><mat-icon inline>phone</mat-icon> +36705088550</h3>

    <h1 class="mat-h1">Osztályos vezető ápoló</h1>
    <mat-divider></mat-divider>

    <h2 class="mat-h2">Dr. Magyarné Demeter Gabriella</h2>
    <h3 class="mat-h3">
      <mat-icon inline>mail</mat-icon>
      <a href="mailto:g.magyarne@rehabint.hu">g.magyarne@rehabint.hu</a>
    </h3>

    <h1 class="mat-h1">Telefon</h1>
    <mat-divider></mat-divider>

    <h3 class="mat-h3">
      Osztályvezető főorvos:
      <mat-icon inline>phone</mat-icon>
      (+36 1) 391-1900/1313 mellék
    </h3>
    <h3 class="mat-h3">
      Osztályiroda:
      <mat-icon inline>phone</mat-icon>
      (+36 1) 391-1930/1313 mellék
      <mat-icon inline>mail</mat-icon>
      <a href="mailto:zs.torok@rehabint.hu"> zs.torok@rehabint.hu</a>
    </h3>
    <h3 class="mat-h3">
      Nővérpult:
      <mat-icon inline>phone</mat-icon>
      (+36 1) 391-1929/1313 mellék
    </h3>
  </div>
</div>
